<h2>Créer un compte</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    <div>
        <label>Nom</label>
        <input formControlName="name" placeholder="Nom" />
    </div>

    <div>
        <label>Email</label>
        <input formControlName="email" type="email" placeholder="Email" />
    </div>

    <div>
        <label>Mot de passe</label>
        <input type="password" formControlName="password" placeholder="Mot de passe" />
    </div>

    <div>
        <label>Confirmer le mot de passe</label>
        <input type="password" formControlName="confirmPassword" placeholder="Confirmation" />
    </div>

    <button type="submit" [disabled]="form.invalid">S'inscrire</button>
</form>